<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- Prod -->
    <!--<add name="AssessmentEntities" connectionString="metadata=res://*/Repository.AssessmentDB.csdl|res://*/Repository.AssessmentDB.ssdl|res://*/Repository.AssessmentDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=134.213.151.119,1433;initial catalog=sap_dx_lg_db_p;persist security info=True;user id=sap_dx_lg_usr_p;password=aGgZ5wkURqHAaEA;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- Test -->
    <!--<add name="AssessmentEntities" connectionString="metadata=res://*/Repository.AssessmentDB.csdl|res://*/Repository.AssessmentDB.ssdl|res://*/Repository.AssessmentDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=134.213.151.119,1433;initial catalog=sap_dx_lg_db_t;persist security info=True;user id=sap_dx_lg_usr_t;password=IDCappd3v;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- Dev -->
    <!--<add name="AssessmentEntities" connectionString="metadata=res://*/Repository.AssessmentDB.csdl|res://*/Repository.AssessmentDB.ssdl|res://*/Repository.AssessmentDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IDCCAN-VDRNOYAN\SQLEXPRESS;initial catalog=cbca_ricoh_en_db_dev;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="AssessmentEntities" connectionString="metadata=res://*/Repository.AssessmentDB.csdl|res://*/Repository.AssessmentDB.ssdl|res://*/Repository.AssessmentDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IDCCAN-VDRNOYAN\SQLEXPRESS;initial catalog=sap_dx_lg_db_p;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.dx-idcmaturityscapesnapshot.com" port="25" userName="no-reply@dx-idcmaturityscapesnapshot.com" password="eE772ch387dwY2X"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="AssessmentName" value="SAP-DX-LG"/>
    <add key="CountrySelection_USA" value="UNITED STATES"/>
    <add key="EmailAnswerChoice" value="Email"/>
    <add key="FirstNameAnswerChoice" value="First name"/>
    <add key="LastNameAnswerChoice" value="Last name"/>
    <add key="CompanyNameAnswerChoice" value="Company Name"/>
    <add key="StateAnswerChoice" value="State"/>
    <add key="ZipAnswerChoice" value="Zip"/>
    
    <!-- Email -->
    <add key="SupportEmailAddress" value="support@dx-idcmaturityscapesnapshot.com"/>
    <add key="ReportEmailFromAddress" value="no-reply@dx-idcmaturityscapesnapshot.com"/>
    <add key="ReportEmailSubject" value="IDC Digital Transformation Report"/>
    <add key="ReportFilename" value="Digital Transformation Assessment Report.pdf"/>
    <add key="AttachmentFilename" value="IDC MaturityScape Digital Transformation.pdf"/>
    
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="elmah.mvc.disableHandler" value="false"/>
    <add key="elmah.mvc.disableHandleErrorFilter" value="false"/>
    <add key="elmah.mvc.requiresAuthentication" value="false"/>
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false"/>
    <add key="elmah.mvc.allowedRoles" value="*"/>
    <add key="elmah.mvc.allowedUsers" value="*"/>
    <add key="elmah.mvc.route" value="elmah"/>
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <!-- Server setting -->
    <httpCookies requireSSL="true" httpOnlyCookies="true" />
    <customErrors mode="On" defaultRedirect="~/error">
      <error redirect="~/error/NotFound" statusCode="404"/>
      <error redirect="~/error" statusCode="403"/>
      <error redirect="~/error" statusCode="500"/>
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="1440"/>
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <roleManager enabled="true" defaultProvider="CustomRoleProvider">
      <providers>
        <clear/>
        <add name="CustomRoleProvider" type="IDC.Extensions.CustomRoleProvider, LeadCapture, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" applicationName="/"/>
      </providers>
    </roleManager>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
    </httpHandlers>
    <globalization culture="en-US" uiCulture="en-US" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
    </modules>
    <rewrite>
      <rules>
        <rule name="no-java-bots" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="^Java/.*"/>
          </conditions>
          <action type="AbortRequest"/>
        </rule>
        <!-- Server setting -->
        <!-- HTTPS -->
        <rule name="http to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" errorMode="Detailed"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <elmah>
    <security allowRemoteAccess="true"/>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data"/>
    <!-- Must use separate e-mail addresses for from and to in order for mail forwarding to idc.com account to work -->
    <errorMail from="no-reply@dx-idcmaturityscapesnapshot.com" to="vdrnoyan@idc.com" subject="Unhandled Exception - SAP DX/Lead Capture" async="true"/>
    <!-- Filter to avoid logging 404 errors -->
    <errorFilter>
      <test>
        <equal binding="HttpStatusCode" value="404" type="Int32"/>
      </test>
    </errorFilter>
  </elmah>
</configuration>