@using IDC.LeadCapture.BLL
@{
    ViewBag.Title = ResourceCache.Localize("DX");
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="slice bg-white">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br />
                    <div class="icon-block icon-block-2">
                        <div class="icon-block-item green">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="icon-block-body">
                                <h4>@ResourceCache.Localize("Confirmation")</h4>
                                <p>@ResourceCache.Localize("password_changed_text")</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <br />
                <div class="col-md-12">
                    <hr>                    
                    <a href="@Url.Action("Index", "Admin")" class="btn btn-icon btn-base btn-icon-right fa-sign-in"><span>@ResourceCache.Localize("OK")</span></a>&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
</section>

